/* You can add global styles to this file, and also import other style files */
body{
    background-color: blue;
}

#wrapper {
    text-align: center;
    color: black;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    width: 800px;
    margin: 0 auto;
    text-transform: uppercase;
}

.quiz{
    background-color: white;
    border-radius: 15px;
}

ol{
    text-align: left;
}

li{
    background-color: rgb(230, 230, 230);
    margin: 5px;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px;
}

